<div class='row'>
    <div class='col-12'>
        <div class='row'>
            <div class='movie-picker-home__wrapper'>
                <div class='col-12 col-md-6'>
                    <app-movie-picker-genres [moviesDataId]='moviesDataId'></app-movie-picker-genres>
                </div>
                <div class='col-12 col-md-6'>
                    <app-live-search [compId]="liveSearchid"></app-live-search>
                </div>
                <div class='col-12 '>
                    <button (click)='search()'>Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-images-grid class='row' [compId]="imagesGridId"></app-images-grid>